@font-face {
    font-family: 'gr-pro';
    src: url('../font/Geomanist-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'gb-pro';
    src: url('../font/Geomanist-Bold.ttf') format('opentype');
}
p,body{
    padding: 0;
    margin: 0;
}

#top-nav {
    background-color: #D0CEEB;
    padding: 15px 36px 13px 90px;
}
.img-icon{
    width: 20px;
    height: 20px;
}
.vertical-line {
    border-right: 1px solid #181458;
}

    .vertical-line:after {
        content: '';
        height: 100%;
        padding: 24px;
    }

.sleep {
    padding: 15px 100px 15px 100px;
    transition: all .4s ease-in-out;
}

.mail-style {
    color: #181458;

    text-decoration: none;
}

    .mail-style:hover {
        color: #181458;
        text-decoration: none;
    }

.email-text {
    color: #181458;
    font-size: 15px;
    font-weight: 500;
    font-family: 'gr-pro';
}

.phone-number-text {
    color: #181458;
    font-size: 15px;
    font-family: 'gr-pro';
}
/* Navbar */
nav{
    z-index: 999;
}

.nav-item{
    padding: 10px 25px;
}
.nav-link{
    font-size: 16px;
    color:#18145880;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;

}

/* Home page styling */

#home{
    width: 100%;
    height: auto;
    position: relative;
    top: -75px;
    padding: 203px 0 160px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/home/background.svg');
}
#home .main-heading-desc{
    font-size: 17px;
    color: #181458;
    font-weight: 400;
    font-family: 'gr-pro'
}

#home .main-heading{
    font-size: 50px;
    color: #181458;
    font-weight: bold;
    font-family: 'gb-pro'
}
#home .main-desc{
    font-size: 28px;
    color: #181458;
    font-weight: 400;
    font-family: 'gr-pro'
}
#home .img-color{
    filter: grayscale(100%);
}
#home .color-text{
    color: #F12797;
}
/* Styling for tab view */
#ticket-form{
    margin-top: -151px;
}
.text-from{
    font-size: 16px;
    color: #18145899;
    margin: 0;
    font-family: 'gb-pro';
    text-transform: capitalize;
}
.desc-text{
    font-size: 14px;
    color: #000000;
    font-family: 'gr-pro';
}
.date{
    font-size: 38px;
    color: #181458;
    margin: 0;
    font-family: "gb-pro";
}
.datetime-text{
    font-size: 14px;
    color: #181458;
    font-family: "gr-pro";
}
.return-button{
width: 100%;
height: 47px;
color: rgba(24, 20, 88, 0.6);
background: #FFFFFF;
border: 1px solid #DCDCEA;
border-radius: 4px;
font-family: 'gr-pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
text-transform: capitalize;
}
#ticket-form .card{
    border-radius: 10px;
    border: none;
}
 .nav-tabs .nav-link {
    border:none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
#myTab .active{
   color: #4699FB;
   position: relative;
}
#myTab .active img{
    filter: drop-shadow(0px 0px 2px #4444dd); 
}

#myTab .active::after{
    content: '';
    left: 0;
    width: 100%;
    bottom: -11.4px;
    position: absolute;
    border-radius: 12px;
    border-bottom: 4px solid #4699FB;
}
.left-border{
    height: 80px;
    border-left:1.6px solid #DCDCEA;
}

/* .media{
    position: relative;
}
.media::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    border-left: 2px solid #181458;
} */

/* Media Quries */

/*================ Media Query ===============*/
@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1367px) {}
@media screen and (max-width: 1250px) {
    .nav-item {
        padding: 10px 10px;
    }
}

@media screen and (max-width: 1024px) {

    #top-nav {
        padding: 15px 36px 26px 90px; 
    }  
     .navbar-toggler-icon {
        border-radius: 6px;
        border: 1px solid #000000 !important;
    }
    #home .main-heading{
        font-size: 32px;
    } 
    #home .main-heading-desc {
        font-size: 14px;
    }
    #home .main-desc {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 769px) {}

@media screen and (max-width: 475px) {
    .vertical-line:after {
        content: '';
        height: 100%;
        padding: 15px;
    }
    .email-text {
        font-size: 12px;
    }
    .phone-number-text{
     font-size: 12px;
    }
    .img-icon{
        width: 15px;
        height: 15px;
    }
   
}

@media screen and (max-width: 412px) {}

@media screen and (max-width: 376px) {}

@media screen and (max-width: 361px) {}



/*==================== Media Query For Land Scape Mode =====================*/
@media screen and (max-width: 1500px) and (orientation: landscape) {}

@media screen and (max-width: 1024px) and (orientation: landscape) {}

@media screen and (max-width: 824px) and (orientation: landscape) {}

@media screen and (max-width: 740px) and (orientation: landscape) {}

@media screen and (max-width: 736px) and (orientation: landscape) {}

@media screen and (max-width: 732px) and (orientation: landscape) {}

@media screen and (max-width: 668px) and (orientation: landscape) {}

@media screen and (max-width: 641px) and (orientation: landscape) {}
